VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_ENDPOINT=
VITE_APPWRITE_DB_ID=
VITE_APPWRITE_TABLE_BOILERS=
VITE_APPWRITE_TABLE_BOILER_STATUS=
VITE_APPWRITE_TABLE_BOILERS_LOGS=
VITE_APPWRITE_TABLE_USER_DATA=
VITE_APPWRITE_FUNCTION_ID=
VITE_APPWRITE_TABLE_PAYMENTS=